@import "./utils/variables";
@import "./utils/config";
.container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
  padding: 4rem 2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}
@import "./components/card";
@import "./components/btn";

// footer
.attribution {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 11px;
  text-align: center;
  background: $cl-darkcyan;
  color: white;
  padding: 0.1rem 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.505);
  a {
    color: darken($color: $cl-Borange, $amount: 50);
    font-weight: bold;
  }
}
