// colors
$cl-Borange: hsl(31, 77%, 52%);
$cl-darkcyan: hsl(184, 100%, 22%);
$cl-darkcyan-2: hsl(179, 100%, 13%);
$cl-transparentwhite: hsla(0, 0%, 100%, 0.75);
$cl-lightgray: hsl(0, 0%, 95%);
$radius: 10px;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
