@use "../utils/variables";
@use "../utils/config";
%btn {
  display: inline-block;

  background: white;
  padding: 0.8rem 1.8rem;
  border-radius: 100px;
  transition: all 100ms linear;
  border: 2px solid white;
  &:hover {
    background-color: transparent;
    color: white;
  }
}
.btn-1 {
  @extend %btn;
  color: $cl-Borange;
}
.btn-2 {
  @extend %btn;
  color: $cl-darkcyan;
}
.btn-3 {
  @extend %btn;
  color: $cl-darkcyan-2;
}
