@use "../utils/variables";
@use "../utils/config";
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}
.card {
  padding: 3.5rem 2.5rem;
  &-circle {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: $radius * 10;
    margin-bottom: 0.5rem;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 4rem;
      height: 4rem;
      transform: translate(0, 0);
      font-size: 2rem;
      opacity: 0.95;
    }
  }
  &-text {
    margin-bottom: 2rem;
    h1 {
      color: white;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    p {
      color: $cl-transparentwhite;
      line-height: 1.75;
    }
  }
}
.card-1 {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  background: $cl-Borange;
  opacity: 0.95;
  .card-circle {
    .icon {
      color: $cl-Borange;
    }
  }
}
.card-2 {
  background: $cl-darkcyan;
  opacity: 0.9;
  .card-circle {
    .icon {
      color: $cl-darkcyan;
    }
  }
}
.card-3 {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  background: $cl-darkcyan-2;
  opacity: 0.95;
  .card-circle {
    .icon {
      color: $cl-darkcyan;
    }
  }
}
@media (min-width: 976px) {
  .card {
    padding: 3rem 3rem;
    &-text {
      margin-bottom: 6rem;
    }
  }
  .card-1 {
    border-radius: 0;
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
  }
  .card-3 {
    border-radius: 0;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
  }
}
